<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')  %>
</head>
<body>
    <div class="container">
        <%- include('./partials/nav') %>
        <h2>Your Test Score</h2>
        <p>Your score is: <%= score %></p>
        <a href="/">Go back to Home</a>
    </div>
</body>
</html>
